<div class="card">
  <%= link_to image_tag(question.image, class: :card__img ), question_path(question.id)%>
  <div class="card__body">
    <%= link_to question.title, root_path, class: :card__title%>
    <p class="card__summary">
      <%= question.overview %>
    </p>
    <%= link_to "by #{question.user.name}", root_path, class: :card__user %>
  </div>
</div>